:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --white-color: #fff;
  --modal-background-color: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.section-title {
  color: var(--dark-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.section-subtitle {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section {
  padding: 120px 0;
}
.logo {
  color: var(--primary-brand-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 76px;
  padding: 24px 0;
}
.logo-span {
  color: var(--dark-color);
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-menu-item {
}
.header-menu-link {
  font-weight: 500;
  line-height: 1.5;
  color: var(--dark-color);
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--pressed-state-color);
}
.current {
  color: var(--pressed-state-color);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
  bottom: -1px;
}
.header-address {
  font-style: normal;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-list-item {
}
.header-list-link {
  line-height: 1.5;
  color: var(--text-color);
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--pressed-state-color);
}
.hero {
  padding: 188px 0;
  background-color: var(--dark-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-main.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.hero-container {
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-color);
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.hero-button {
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}
.adventures {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.adventures-list {
  display: flex;
  gap: 24px;
}
.adventures-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.adventures-img {
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.adventures-img-icon {
}
.adventures-subtitle {
  margin-bottom: 8px;
}
.section-subtitle {
}
.adventures-text {
}
.team {
  background-color: var(--light-color);
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: var(--white-color);
  flex-basis: calc((100% - 3 * 24px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}
.team-img {
}
.person-info {
  gap: 8px;
  padding: 32px 0;
}
.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
  margin-bottom: 8px;
}
.team-media {
  display: flex;
  gap: 24px;
  width: 232px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.team-media-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  width: 40px;
  height: 40px;
}
.team-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-media-link:hover {
  background-color: var(--pressed-state-color);
}
.team-media-link:focus {
  background-color: var(--pressed-state-color);
}
.team-img-icon {
  fill: var(--light-color);
}
.portfolio {
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}
.portfolio-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .hidden-text,
.portfolio-item:focus .hidden-text {
  transform: translateY(0%);
}
.portfolio-img {
}
.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}
.hidden-text {
  display: block;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: var(--primary-brand-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}
.portfolio-info {
  padding: 32px 16px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}
.portfolio-subtitle {
  margin-bottom: 8px;
}
.portfolio-text {
}
.footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-info {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: var(--light-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.footer-logo-span {
  color: var(--light-color);
  line-height: 1.5;
}
.footer-media {
}
.footer-media-title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.footer-media-list {
  display: flex;
  gap: 16px;
}
.footer-media-item {
  flex-basis: calc((100% - 3 * 16px) / 4);
  width: 40px;
  height: 40px;
}
.footer-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media-link:hover,
.footer-media-link:focus {
  background-color: var(--success-color);
}
.footer-img-icon {
  fill: var(--light-color);
}
